.todo-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	padding: 12px;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	transition: 0.2s ease-in-out;
	margin-bottom: 1rem;
}

.todo-actions {
	display: flex;
	gap: 8px;
}

.input-container {
	display: flex;
	gap: 10px;
	margin-top: 10px;
}

.task-input {
	flex-grow: 1;
	padding: 6px 10px;
	border: 1px solid #ccc;
	border-radius: 6px;
	font-size: 16px;
}

.change-button {
	background: #6bf0ff;
	color: white;
	border: none;
	padding: 6px 12px;
	border-radius: 6px;
	cursor: pointer;
	transition: background 0.2s;
	font-weight: bold;
}

.change-button:hover {
	background: #6bceff;
}

.change-button:disabled {
	background: #a0a0a0;
}

.save-button {
	background: #6b7cff;
	color: white;
	border: none;
	padding: 6px 12px;
	border-radius: 6px;
	cursor: pointer;
	transition: background 0.2s;
	font-weight: bold;
}

.save-button:hover {
	background: #7a6bff;
}
.save-button:disabled {
	background: #a0a0a0;
}

.delete-button {
	background: #ff6b6b;
	color: white;
	border: none;
	padding: 6px 12px;
	border-radius: 6px;
	cursor: pointer;
	transition: background 0.2s;
	font-weight: bold;
}

.delete-button:hover {
	background: #eb6363;
}
.delete-button:disabled {
	background: #a0a0a0;
}
