.app {
	max-width: 600px;
	margin: 40px auto;
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.page-heading {
	text-align: center;
	font-size: 24px;
	margin-bottom: 20px;
	color: #333;
}
